.terminator-f {
  background-color: #ff839f;
  border-radius: 50px;
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-f {
  color: var(--dark-blue-2);
  text-align: center;
  font-weight: 500;
  margin: 0 5px;
}

.parallelogram-f {
  width: 200px;
  height: 40px;
  transform: skew(-20deg);
  background: #86e2ff;
  min-width: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.not-skew-f {
  transform: skew(20deg);
  color: var(--dark-blue-2);
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.custom-select-f {
  position: relative;
  margin: 0 5px;
}
.dropdown-f {
  border-radius: 5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  appearance: none;
  padding: 0 15px 0 10px;
  position: relative;
}

.triangle-purple {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #584f84;
  top: 45%;
  right: 10%;
  pointer-events: none;
}

.triangle-green {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #5d9d83;
  top: 45%;
  right: 10%;
  pointer-events: none;
}

.triangle-yellow {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #e7b16b;
  top: 45%;
  right: 10%;
  pointer-events: none;
}

.triangle-blue {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #5d83ca;
  top: 45%;
  right: 10%;
  pointer-events: none;
}

.triangle-pink {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #da566e;
  top: 45%;
  right: 10%;
  pointer-events: none;
}

.display-f {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.square-box-long-f {
  width: auto;
  height: 35px;
  background: #ffa05b;
  min-width: 180px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 500;
  color: var(--dark-blue-2);
  padding: 0 10px;
}

.square-box-short-f {
  width: 3px;
  height: 35px;
  background: white;
}

.square-textbox-f {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 25px;
  background: #ffffff;
  border: 0 !important;
  border-radius: 8px;
  color: var(--dark-blue-2);
}

.input-f {
  background-color: white;
  padding: 0 10px;
  border-radius: 3px;
  margin: 0 5px;
}

.input-declare-f {
  background-color: white;
  padding: 0 10px;
  z-index: 2;
  outline: none !important;
}

.text-declare-before-f {
  background-color: white;
  padding: 0 10px 0 5px;
  margin: 0 -10px 0 5px;
  border-radius: 3px 0 0 3px;
  z-index: 1;
}
.text-declare-after-f {
  background-color: white;
  padding: 0 5px 0 10px;
  margin: 0 5px 0 -10px;
  border-radius: 0 3px 3px 0;
  z-index: 1;
}

.input-display-f {
  background-color: white;
  padding: 0 5px;
  margin: 0 5px;
  border-radius: 3px;
  position: absolute;
}

.diamond-item-f {
  position: absolute;
}

.circle-f {
  width: 40px;
  height: 40px;
  background: #ffc700;
  border-radius: 50%;
}
