.arrow-f {
  font-size: 50px;
}

.terminator-f {
  background-color: var(--pink);
  border-radius: 50px;
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-f {
  color: var(--dark-blue-2);
  text-align: center;
  font-weight: 500;
}

.parallelogram-f {
  width: 200px;
  height: 40px;
  transform: skew(-20deg);
  background: #86e2ff;
  min-width: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.not-skew-f {
  transform: skew(20deg);
  color: var(--dark-blue-2);
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.dropdown-f {
  border-radius: 5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1);
}

.display-f {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.square-round-f {
  width: 150px;
  height: 40px;
  border-radius: 0 50px 50px 0;
  background: #89cd83;
  margin: 10px 0 10px 0;
}

.triangle-left-f {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 40px solid #89cd83;
  border-bottom: 20px solid transparent;
  margin: 10px 0 10px 0;
}

.square-box-long-f {
  width: 200px;
  height: 35px;
  background: #ffa05b;
  min-width: 180px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px 0 10px;
  margin-top: 10px;
  font-weight: 500;
  color: var(--dark-blue-2);
}

.square-textbox-f {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 25px;
  background: #ffffff;
  border: 0 !important;
  border-radius: 8px;
  color: var(--dark-blue-2);
}
