.arrow-container-f {
  display: flex;
  justify-content: center;
  width: 100%;
}

.terminator-f {
  background-color: #ff839f;
  border-radius: 50px;
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-f {
  color: var(--dark-blue-2);
  text-align: center;
  font-weight: 500;
  margin: 0 5px;
}

.parallelogram-f {
  width: auto;
  height: auto;
  transform: skew(-20deg);
  background: #86e2ff;
  min-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
}

.custom-select-f {
  position: relative;
  margin-right: 5px;
}

.dropdown-round-f {
  border-radius: 60px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  appearance: none;
  padding: 0 20px 0 15px;
  position: relative;
  /* outline: none; */
}

.diamond-box {
  height: 100%;
  aspect-ratio: auto 1 / 1;
  /* position: relative; */
}

.diamond-box:before {
  content: "";
  float: left;
  padding-top: 100%;
  /* position: relative; */
}

.diamond-all {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.diamond-item-f {
  display: flex;
  align-items: center;
  margin: 80px 10px;
  /* position: absolute; */
  /* transform: rotateZ(-45deg) rotateY(45deg); */
}

.diamond-square-box {
  width: 100%;
  height: 100%;
  background-color: #ff9fc2;
  transform: rotateX(45deg) rotateZ(45deg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
}

.diamond-img-f {
  max-width: 100%;
  max-height: 100%;
}

.dropdown-f {
  border-radius: 5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  appearance: none;
  padding: 0 15px 0 10px;
  position: relative;
  outline: none;
}

.label-dropdown-f {
  position: absolute;
  padding-top: 8px;
}

.triangle-purple {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #584f84;
  top: 45%;
  right: 10%;
  pointer-events: none;
}

.triangle-green {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #5d9d83;
  top: 45%;
  right: 10%;
  pointer-events: none;
}

.triangle-yellow {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #e7b16b;
  top: 45%;
  right: 10%;
  pointer-events: none;
}

.triangle-blue {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #5d83ca;
  top: 45%;
  right: 10%;
  pointer-events: none;
}

.triangle-pink {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #da566e;
  top: 45%;
  right: 10%;
  pointer-events: none;
}

.display-f {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.square-box-long-f {
  width: auto;
  height: auto;
  background: #ffa05b;
  min-width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--dark-blue-2);
  padding: 5px 5px;
  margin: 0 10px;
}

.square-box-short-f {
  width: 3px;
  height: 35px;
  background: white;
}

.square-round-box-short-f {
  width: 40px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 30px;
  margin: 0 5px;
}

.square-textbox-f {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 25px;
  background: #ffffff;
  border: 0 !important;
  border-radius: 8px;
  color: var(--dark-blue-2);
}

.input-f {
  background-color: white;
  padding: 0 10px;
  border-radius: 3px;
  margin: 0 5px;
  max-width: 100px;
  outline: none !important;
  border: 0;
}

.input-declare-f {
  background-color: white;
  padding: 0 10px;
  z-index: 2;
  max-width: 150px;
  min-height: 30px;
  outline: none !important;
  height: 100%;
  border-radius: 3px;
  border: 0;
}

.text-declare-before-f {
  height: 100%;
  background-color: white;
  padding: 0 10px 0 5px;
  margin: 0 -10px 0 5px;
  border-radius: 3px 0 0 3px;
  z-index: 1;
}
.text-declare-after-f {
  height: 100%;
  background-color: white;
  padding: 0 5px 0 10px;
  margin: 0 5px 0 -10px;
  border-radius: 0 3px 3px 0;
  z-index: 1;
}

.input-array-f {
  background-color: white;
  padding: 0 10px;
  z-index: 2;
  outline: none !important;
  border-radius: 3px;
}

.input-display-f {
  background-color: white;
  padding: 0 5px;
  margin: 0 5px;
  border-radius: 3px;
  position: absolute;
  outline: none;
}

.circle-f {
  width: 25px;
  height: 25px;
  background: #ffc700;
  border-radius: 50%;
}

.not-skew-f {
  transform: skew(20deg);
  color: var(--dark-blue-2);
  /* text-align: center; */
  /* font-weight: 500; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.textarea {
  box-sizing: padding-box;
  overflow: auto;
  /* resize: none; */
  width: 100px;
  /* min-height: 30px; */
  min-height: 26px;
  display: block;
  border: 0px;
  outline: none;
  z-index: 2;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.textarea-array {
  overflow: auto;
  /* resize: none; */
  width: 50px;
  min-height: 30px;
  height: 45px;
  display: block;
  border: 0px;
  outline: none;
  z-index: 2;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #d9dadb;
  width: 1px;
  border-radius: 10px;
}

.triangle-left-f {
  width: 0;
  height: 100%;
  border-top: 20px solid transparent;
  border-right: 30px solid #89cd83;
  border-bottom: 20px solid transparent;
  margin-right: 160px;
}

.square-round-f {
  width: 150px;
  border-radius: 0 50px 50px 0;
  background: #89cd83;
  margin-top: -40px;
  margin-left: 20px;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  height: 100%;
}

.textbox-variable-f {
  display: flex;
  align-items: top;
  margin: 0 5px;
  background-color: white;
  border-radius: 3px;
}
