.not-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.popup {
  background-color: #000000;
  opacity: 0.5;
  position: absolute;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.popup-cross {
  cursor: pointer;
  position: absolute;
  top: 1.5%;
  right: 2.5%;
}

.arrow-container-f {
  display: flex;
  justify-content: center;
  width: 100%;
}

.terminator-f {
  background-color: #ff839f;
  border-radius: 50px;
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  cursor: pointer;
}

.text-f {
  color: var(--dark-blue-2);
  text-align: center;
  font-weight: 500;
  margin: 0 5px;
  display: inline-block;
}

.parallelogram-f {
  width: auto;
  height: auto;
  transform: skew(-20deg);
  background: #86e2ff;
  min-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  cursor: pointer;
}

.custom-select-f {
  position: relative;
  margin: 3px 3px;
}

.dropdown-round-f {
  background: #ffffff;
  border-radius: 60px;
  appearance: none;
  padding: 0 20px 0 15px;
  height: 30px;
  position: relative;
  outline: none;
  border: 0px;
  min-width: 55px;
  vertical-align: middle;
  text-align: center;
}

/* .diamond-box {
  height: 100%;
  aspect-ratio: auto 1 / 1;
  
}

.diamond-box:before {
  content: "";
  float: left;
  padding-top: 100%;
  
} */

.diamond-box {
  width: 240px;
  height: 240px;
}

.diamond-all {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.diamond-item-f {
  display: flex;
  align-items: center;
  margin: 90px 10px;
  height: 60px;
  overflow: auto;
  /* position: absolute; */
  /* transform: rotateZ(-45deg) rotateY(45deg); */
}

.diamond-square-box {
  width: 100%;
  height: 100%;
  background-color: #ff9fc2;
  transform: rotateX(45deg) rotateZ(45deg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
}

.diamond-img-f {
  max-width: 100%;
  max-height: 100%;
}

.dropdown-f {
  border-radius: 5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1);
  appearance: none;
  padding: 0 20px 0 10px;
  position: relative;
  outline: none;
  vertical-align: middle;
  height: 28px;
}

.label-dropdown-f {
  position: absolute;
  padding-top: 8px;
}

.triangle-purple {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #584f84;
  top: 45%;
  right: 18%;
  pointer-events: none;
}

.triangle-green {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #5d9d83;
  top: 45%;
  right: 18%;
  pointer-events: none;
}

.triangle-yellow {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #e7b16b;
  top: 45%;
  right: 18%;
  pointer-events: none;
}

.triangle-blue {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #5d83ca;
  top: 45%;
  right: 18%;
  pointer-events: none;
}

.triangle-pink {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #da566e;
  top: 45%;
  right: 18%;
  pointer-events: none;
}

.display-f {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.square-box-long-f {
  width: auto;
  height: auto;
  background: #ffa05b;
  min-width: 180px;
  max-width: 500px;
  /* display: inline-block; */
  vertical-align: middle;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--dark-blue-2);
  padding: 5px 5px;
  margin: 0 10px;
  cursor: pointer;
}

.square-box-long-function-f {
  width: auto;
  height: auto;
  background: #ffa05b;
  min-width: 180px;
  max-width: 500px;
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--dark-blue-2);
  padding: 5px 5px;
  margin: 0 10px;
  cursor: pointer;
}

.square-box-short-f {
  width: 3px;
  height: 35px;
  background: white;
}

.square-round-box-short-f {
  width: 48px;
  height: 30px;
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  /* justify-content: center;
  align-items: center; */
  background: white;
  border-radius: 30px;
  margin: 3px 3px;
}

.text-declare-before-f {
  height: 100%;
  display: inline-block;
  /* background-color: white; */
  padding: 0 10px 0 5px;
  margin: 0 -10px 0 5px;
  border-radius: 3px 0 0 3px;
  vertical-align: middle;
}
.text-declare-before-f::after {
  height: 100%;
  display: inline-block;
  width: 0;
  vertical-align: middle;
}

.text-declare-after-f {
  height: 100%;
  display: inline-block;
  /* background-color: white; */
  padding: 0 5px 0 10px;
  margin: 0 5px 0 -10px;
  border-radius: 0 3px 3px 0;
  vertical-align: middle;
}

.box-inline {
  /* box-sizing: border-box; */
  display: inline-block;
}

.textbox-variable-f {
  display: inline-block;
  /* align-items: top; */
  text-align: center;

  background-color: white;
  border-radius: 3px;
  vertical-align: middle;
  margin: 3px 3px;
}

.circle-f {
  width: 25px;
  height: 25px;
  background: #ffc700;
  border-radius: 50%;
  cursor: pointer;
}

.not-skew-f {
  transform: skew(20deg);
  color: var(--dark-blue-2);
  /* text-align: center; */
  /* font-weight: 500; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.textarea {
  overflow: auto;
  /* resize: none; */
  width: 100px;
  min-height: 28px;
  border: 0px;
  outline: none;
  z-index: 0;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

.textarea-1-long-row {
  box-sizing: padding-box;
  overflow: auto;
  resize: none;
  width: 180px;
  min-height: 28px;
  display: block;
  border: 0px;
  outline: none;
  z-index: 0;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 30px;
}

.textarea-array {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  resize: none;
  overflow-y: hidden;
  width: 30px;
  min-height: 28px;
  border: 0px;
  outline: none;
  z-index: 0;
  vertical-align: middle;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #d9dadb;
  width: 1px;
  border-radius: 10px;
}

/* Display */
.triangle-left-f {
  width: 0;
  height: 100%;
  border-top: 20px solid transparent;
  border-right: 30px solid #89cd83;
  border-bottom: 20px solid transparent;
}

.square-round-f {
  width: auto;
  border-radius: 0 50px 50px 0;
  background: #89cd83;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
